$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effect-duration: 0.3s;
$main-text-color: #1b2129;
$text-color-light: #fff;
$text-color-form: #f9f9f9;
$accent-color: #f98921;
$border-color: #dbdbdb;
$accent-color-active: #010810;
$text-color-secondary: #9393a3;
$text-color-primary: #191919;
$menu-bg-color: #e5e5e5;
$layout-inline-offset-mobile: 20px;
$layout-inline-offset-tablet: 72px;
$layout-inline-offset-desktop: 120px;
